<h1><%= @game.player_1.name %> Vs <%= @game.player_2.name %></h1>

<h3><%= @game.player_2.name %>: <%= @game.player_2.hit_points %> hit points</h3>

<form action="/attack">
  <input type="submit" name="" value="Attack">
</form>
