<h1><%= @player_1.name %> Vs <%= @player_2.name %></h1>

<h3><%= @player_2.name %>: <%= @player_2.hit_points %> hit points</h3>

<form action="/attack">
  <input type="submit" name="" value="Attack">
</form>
